<div class="container">
  <h3><a href="/">Home</a></h3>
  <h3>
    

   <% if current_user %>
   <a href="/profile">Profile Page</a>
   <% end %>
   

  <h2><p>Your shortened URL for <a href='<%= @url.url %>'><%= @url.url %></a> is:<br><br> <a href="<%= @url.url %>"><%= @url.short_url %></a>
  </p></h2>
</div>


